.header {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.cart {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logout {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
}

.cart-badge {
  border-radius: 50%;
  background-color: royalblue;
  color: white;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 14px;
  position: absolute;
  right: 60px;
  top: 12px;
}

div {
  font-family: sans-serif;
  font-size: 12px;
}
