<div *ngIf="product">
  <div class="breadcrumbs">
    <p class="elipsis" (click)="goBack()">...</p>
    <span>></span>
    <p class="product-title">{{product.title}}</p>
  </div>
  <div class="details-wrapper">
    <div class="details-img-wrapper">
      <img class="details-img" src="{{product.image}}">
    </div>
    <div>
      <div class="details-header">Product Details</div>
      <div class="details">{{product.description}}</div>
      <app-star-rating [rating]="product.rating"></app-star-rating>
      <div class="details price">{{product.price | currency}}</div>
      <div class="quantity">
        <div>Quantity:</div>
        <div class="count">{{product.cartCount ?? cartCount}}</div>
        <div style="display: flex; flex-direction: column;">
          <button class="quantity-button" (click)="incrementCartCount()">
            <img class="chevron" src="../../assets/images/chevron-up-solid.svg">
          </button>
          <button class="quantity-button" (click)="decrementCartCount()">
            <img class="chevron" src="../../assets/images/chevron-down-solid.svg">
          </button>
        </div>
      </div>
      <button *ngIf="!isInCart" class="cart-button" type="button" (click)="addToCart()">Add To Cart</button>
      <button *ngIf="isInCart" class="cart-button" type="button" (click)="removeFromCart()">Remove From Cart</button>
    </div>
  </div>
</div>
