<div *ngIf="product">
  <h4>
    <span class="breadcrumbs" (click)="goBack()">
      products
    </span> > <span>{{product.title}}</span>
  </h4>
  <div class="details-wrapper">
    <div class="details-img-wrapper">
      <img class="details-img" src="{{product.image}}">
    </div>
    <div>
      <div class="details-header">Product Details</div>
      <div class="details">{{product.description}}</div>
      <app-star-rating [rating]="product.rating"></app-star-rating>
      <div class="details price">{{product.price | currency}}</div>
    </div>
  </div>
</div>
