<div *ngIf="product">
  <div class="breadcrumbs">
    <p class="elipsis" (click)="goBack()">...</p>
    <span>></span>
    <p class="product-title">{{product.title}}</p>
  </div>
  <div class="details-wrapper">
    <div class="details-img-wrapper">
      <img class="details-img" src="{{product.image}}">
    </div>
    <div>
      <div class="details-header">Product Details</div>
      <div class="details">{{product.description}}</div>
      <app-star-rating [rating]="product.rating"></app-star-rating>
      <div class="details price">{{product.price | currency}}</div>
    </div>
    <button type="button" (click)="addToCart()">Add To Cart</button>
  </div>
</div>
